body {
  display: block;
}

:root {
  --box-width: 180px;
  --box-height: 180px;
  --box-gap: 20px;
  --calendar-cols: 7;
  --calendar-width: min(100vw, calc(var(--calendar-cols) * var(--box-width) + (var(--calendar-cols) - 1) * var(--box-gap)));
  --calendar-top-margin: 400px;
}

.test {
  width: var(--box-width);
  height: var(--box-height);
  border-radius: var(--box-gap);
  border: 1px solid #000;
}

.calendar {
  place-items: center;
  margin-top: var(--calendar-top-margin);
  width: var(--calendar-width);
  display: grid;
  gap: var(--box-gap);
  grid-template-columns: repeat(auto-fill, minmax(var(--box-width), 1fr));
}
